---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: svc-alertmanager-headers
  namespace: {{install.prometheus_operator.namespace}}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: alertmanager-stripprefix
spec:
  stripPrefix:
    prefixes:
      - {{install.prometheus_operator.alertmanager.dashboard.path|default("/alertmanager")}}
    forceSlash: true

{% if install.prometheus_operator.alertmanager.dashboard.enable_basic_auth|default(false)|bool == true%}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: alertmanager-basic-auth
  namespace: {{install.prometheus_operator.namespace}}
spec:
  basicAuth:
    secret: alertmanager-authsecret

---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-authsecret
  namespace: {{install.prometheus_operator.namespace}}
data:
  users: |
{% if install.prometheus_operator.alertmanager.dashboard.allowed_users is defined %}{% filter indent(width=4) %}
    {{install.prometheus_operator.alertmanager.dashboard.allowed_users}}{% endfilter %}
{% else %}
  MUST_ENCODED_USERS_HERE or to "vars/secrets/alertmanager_dashboard_secrets.yml" on Ansible Controller
{% endif %}{{''}}
{% endif %}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: alertmanager-ingress-route
spec:
  entryPoints:
    - {% if install.traefik.dashboard.enable_https|default(false)|bool == false %}web{% else %}websecure{% endif %}{{''}}
  routes:
    - match: Host(`{{install.prometheus_operator.alertmanager.dashboard.hostname|default(ansible_fqdn)|lower}}`) && (PathPrefix(`{{install.prometheus_operator.alertmanager.dashboard.path|default("/alertmanager")}}`))
      kind: Rule
      services:
      - kind: Service
        name: kube-stack-prometheus-kube-alertmanager
        port: 9093
      middlewares:
      - name: alertmanager-stripprefix
      - name: svc-alertmanager-headers
{% if install.prometheus_operator.alertmanager.dashboard.enable_basic_auth|default(false)|bool == true%}
      - name: alertmanager-basic-auth
{% endif %}
