---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: svc-prometheus-headers
  namespace: {{install.prometheus_operator.namespace}}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: prometheus-stripprefix
spec:
  stripPrefix:
    prefixes:
      - {{install.prometheus_operator.prometheus.dashboard.path|default("/prometheus")}}
    forceSlash: true

{% if install.prometheus_operator.prometheus.dashboard.enable_basic_auth|default(false)|bool == true%}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: dashboard-basic-auth
  namespace: {{install.prometheus_operator.namespace}}
spec:
  basicAuth:
    secret: prometheus-authsecret

---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-authsecret
  namespace: {{install.prometheus_operator.namespace}}
data:
  users: |
{% if install.prometheus_operator.prometheus.dashboard.allowed_users is defined %}{% filter indent(width=4) %}
    {{install.prometheus_operator.prometheus.dashboard.allowed_users}}{% endfilter %}
{% else %}
  MUST_ENCODED_USERS_HERE or to "vars/secrets/prometheus_dashboard_secrets.yml" on Ansible Controller
{% endif %}{{''}}
{% endif %}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: prometheus-ingress-route
spec:
  entryPoints:
    - {% if install.traefik.dashboard.enable_https|default(false)|bool == false %}web{% else %}websecure{% endif %}{{''}}
  routes:
    - match: Host(`{{install.prometheus_operator.prometheus.dashboard.hostname|default(ansible_fqdn)|lower}}`) && (PathPrefix(`{{install.prometheus_operator.prometheus.dashboard.path|default("/prometheus")}}`))
      kind: Rule
      services:
      - kind: Service
        name: kube-stack-prometheus-kube-prometheus
        port: 9090
      middlewares:
      - name: prometheus-stripprefix
      - name: svc-prometheus-headers
{% if install.prometheus_operator.prometheus.dashboard.enable_basic_auth|default(false)|bool == true%}
      - name: dashboard-basic-auth
{% endif %}
