---
# Monitor Sealed Secrets Pods

apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: sealed-secrets-prometheus-podmonitor
  namespace: {{install.prometheus_operator.namespace}}
  labels:
    name: sealed-secrets-prometheus-podmonitor
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: sealed-secrets
  namespaceSelector:
    matchNames:
      - {{install.sealed_secrets.namespace}}
  podMetricsEndpoints:
    - port: http
      honorLabels: true
      interval: '30s'
  sampleLimit: 1000
