---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: argocd
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-3"  # Lower the number the sooner to deploy
    
spec:
  project: default
  revisionHistoryLimit: {{install.argocd.revision_History_Limit|default(3)}}

  source:
    repoURL: {{install.argocd.repository.url}}.git
    targetRevision: HEAD
    path: workloads/argocd/
    helm:
      releaseName: argocd
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: {{install.argocd.namespace}}

  ignoreDifferences:
    - kind: ConfigMap                           # ConfigMap URL
      name: argocd-cm
      namespace: {{install.argocd.namespace}}
      jsonPointers:
        - /data/url

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Validate=true
