---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: renovate
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-1"  # Lower the number the sooner to deploy
spec:
  project: default

  source:
    repoURL: {{install.argocd.repository.url}}.git
    targetRevision: HEAD
    path: workloads/renovate/
    helm:
      releaseName: renovate
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: {{install.renovate.namespace}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
    -  Validate=true
