---
renovate:
  enabled: true
  cronjob:
    schedule: '{{install.renovate.schedule}}'

  renovate:
    # See https://docs.renovatebot.com/self-hosted-configuration
    config: |
      {
        "platform": "{{install.renovate.platform}}",
        "repositories": {{install.renovate.repositories}}
      }
  existingSecret: "renovate-secrets"