---
# system-upgrade-patches.yaml
# Namespace already exists
# Delete the {{install.upgrade_controller.namespace}} namespace
# from the kustomization
$patch: delete
apiVersion: v1
kind: Namespace
metadata:
  name: {{install.upgrade_controller.namespace}}
