---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

###[ Global options ]##########################################################
generatorOptions:
  disableNameSuffixHash: true
  labels:
    {{install.prometheus_operator.grafana.sidecar.label}}: "true"
namespace: {{install.prometheus_operator.namespace}}

# Dashboard directories to process
resources:
  - k8s

###[ Generate a ConfigMap for each dashboard ]#################################
configMapGenerator:

###[ Define Dashboards ]#######################################################
# NOTE: Grafana dashboard number included in the name.

# My cluster Dashboard:
  - name: k3s-view-cluster-16450
    files: [ k3s/k3s-view-cluster-16450.json ]

# Application Dashboards:
  - name: k8s-app-argocd-14584
    files: [ argocd/k8s-app-argocd-14584.json ]

  - name: k8s-app-longhorn-13032
    files: [ longhorn/k8s-app-longhorn-13032.json ]

  - name: k8s-app-traefik-11462
    files: [ traefik/k8s-app-traefik-11462.json ]

  - name: k8s-app-traefik-13165
    files: [ traefik/k8s-app-traefik-13165.json ]

  - name: k8s-app-cert-manager
    files: [ cert-manager/k8s-app-cert-manager.json ]

  - name: k8s-app-sealed-secrets
    files: [ sealed-secrets/k8s-app-sealed-secrets.json ]
