---
{% if install.longhorn.dashboard.create_route|default(false)|bool == true%}

apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  namespace: {{install.longhorn.namespace}}
  name: longhorn-stripprefix
spec:
  stripPrefix:
    prefixes:
      - {{install.longhorn.dashboard.path|default("/longhorn")}}
    forceSlash: true

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{install.longhorn.namespace}}
  name: longhorn-ingress-route
spec:
  entryPoints:
    - {% if install.longhorn.dashboard.enable_https|default(false)|bool == false %}web{% else %}websecure{% endif %}{{''}}
  routes:
    - match: Host(`{{install.longhorn.dashboard.ingress_name|default(ansible_fqdn)|lower}}`) && (PathPrefix(`{{install.longhorn.dashboard.path|default("/longhorn")}}`))
      kind: Rule
      services:
        - kind: Service
          name: longhorn-frontend
          port: 80
      middlewares:
        - name: longhorn-stripprefix
        - name: compress
          namespace: {{install.traefik.namespace}}
        - name: x-forward-https-headers
          namespace: {{install.traefik.namespace}}
{% if install.longhorn.dashboard.enable_basic_auth|default(false)|bool == true %}
        - name: traefik-basic-auth
          namespace: {{install.traefik.namespace}}
{% endif %}
{% endif %}
