---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: ingress
  namespace: argocd
spec:
  description: Project for Ingress Applications
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  sourceRepos:
    - 'https://helm.traefik.io/traefik'
    - '{{install.argocd.repository.url}}.git'
