---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {% if install.cert_manager.le_staging|default(true)|bool == true %}letsencrypt-staging{% else %}letsencrypt-prod{% endif %}{{''}}
spec:
  acme:
    email: {{cert_manager.le_email_auth}}
    server: {% if install.cert_manager.le_staging|default(true)|bool == true %}{{cert_manager.le_staging_server}}{% else %}{{cert_manager.le_production_server}}{% endif %}{{''}}
    privateKeySecretRef:
      name: issuer-{% if install.cert_manager.le_staging|default(true)|bool == true %}letsencrypt-staging{% else %}letsencrypt-prod{% endif %}{{''}}
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            key: api-token
            name: cloudflare-api-token-secret
