csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.nfs"

#########################################################################################
# The following will pull from the developer's "next" branch, for testing new features.
#controller:
#  driver:
#    image: democraticcsi/democratic-csi:next
#    imagePullPolicy: Always
#    logLevel: debug

#node:
#  driver:
#    image: democraticcsi/democratic-csi:next
#    imagePullPolicy: Always
#    logLevel: debug
#########################################################################################
# To confirm if the "next" image is being used by the containers:
# kubectl get pods -n democratic-csi -o jsonpath="{.items[*].spec.containers[*].image}" | tr -s '[[:space:]]' '\n' | grep next | uniq
#########################################################################################

storageClasses:
- name: freenas-nfs-csi
  defaultClass: {{install.democratic_csi.nfs.storage_class.default_class}}
  reclaimPolicy: {{install.democratic_csi.nfs.storage_class.reclaim_policy}}
  volumeBindingMode: Immediate
  allowVolumeExpansion: {{install.democratic_csi.nfs.storage_class.volume_expansion}}
  parameters:
    fsType: nfs

  mountOptions:
  - noatime
  - nfsvers=4
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

driver:
  config:
    driver: freenas-nfs
    instance_id:
    httpConnection:
      protocol: {{install.democratic_csi.truenas.http_connection.protocol}}
      host: {{install.democratic_csi.truenas.http_connection.host}}
      port: {{install.democratic_csi.truenas.http_connection.port}}
      apiKey: {% if install.democratic_csi.truenas.http_connection.api_key is defined %}{{install.democratic_csi.truenas.http_connection.api_key}}{% endif %}{{''}}
      allowInsecure: {{install.democratic_csi.truenas.http_connection.allow_insecure}}
      #apiVersion: 2
    sshConnection:
      host: {{install.democratic_csi.truenas.ssh_connection.host}}
      port: {{install.democratic_csi.truenas.ssh_connection.port}}
      username: {{install.democratic_csi.truenas.ssh_connection.user}}
{% if install.democratic_csi.truenas.ssh_connection.password is defined %}      password: {{install.democratic_csi.truenas.ssh_connection.password}}{% endif %}{{''}}
{% if install.democratic_csi.truenas.ssh_connection.private_key is defined %}{% filter indent(width=8) %}      privateKey: |
{{install.democratic_csi.truenas.ssh_connection.private_key}}{% endfilter %}{% endif %}{{''}}
{% if install.democratic_csi.truenas.ssh_connection.password is not defined and install.democratic_csi.truenas.ssh_connection.private_key is not defined %}  *** MUST DEFINE PASSWORD or CERTIFICATE in truenas_api_secrets.yml ***{% endif %}{{''}}
    zfs:
      cli:
        sudoEnabled: {{install.democratic_csi.nfs.zfs.sudo_enabled}}
      # Set a comment on the zvol to identify what it belongs to
      datasetProperties:
        {% raw %}"org.freenas:description": "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"{% endraw %}{{''}}
      datasetParentName: {{install.democratic_csi.nfs.zfs.datasets.parent_name}}
      detachedSnapshotsDatasetParentName: {{install.democratic_csi.nfs.zfs.datasets.snapshot_ds_name}}
      datasetEnableQuotas: {{install.democratic_csi.nfs.zfs.datasets.enable_quotas}}
      datasetEnableReservation: {{install.democratic_csi.nfs.zfs.datasets.enable_reservation}}
      datasetPermissionsMode: {{install.democratic_csi.nfs.zfs.datasets.permissions.mode}}
      datasetPermissionsUser: {{install.democratic_csi.nfs.zfs.datasets.permissions.user_id_num}}
      datasetPermissionsGroup: {{install.democratic_csi.nfs.zfs.datasets.permissions.group_id_num}}
      #datasetPermissionsAcls:
      #- "-m everyone@:full_set:allow"
      #- "-m u:kube:full_set:allow"

    nfs:
      {% raw %}shareCommentTemplate: "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}"{% endraw %}{{''}}
      shareHost: {{install.democratic_csi.truenas.nfs_connection.host}}
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: root
      shareMaprootGroup: wheel
      shareMapallUser: ""
      shareMapallGroup: ""