apiVersion: v2
type: application
name: tarefik
version: 0.0.0 # unused
appVersion: 0.0.0 # unused
dependencies:
  - name: traefik
    repository: https://helm.traefik.io/traefik
    version: {{install.traefik.install_version}}
    condition: traefik.enabled
