---
# ArgoCD GitHub Access

apiVersion: v1
kind: Secret
metadata:
  name: {{install.argocd.repository.name}}-secret
  namespace: {{install.argocd.namespace}}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{install.argocd.repository.url}}
  username: {{install.argocd.repository.username}}
  password: {{install.argocd.repository.password}}
