---
# ArgoCD GitHub Access

apiVersion: v1
kind: Secret
metadata:
  name: {{install.argocd.repository.name}}-secret
  namespace: {{install.argocd.namespace}}
type: Opaque
data:
  username: {{install.argocd.repository.username|b64encode}}
  password: {{install.argocd.repository.password|b64encode}}
