---
# ArgoCD Notification Secret

apiVersion: v1
kind: Secret
metadata:
  name: argocd-notifications-secret
  namespace: {{install.argocd.namespace}}
type: Opaque
stringData:
  {% filter indent(width=2) %}{{install.argocd.notifications.secret_contents}}{% endfilter %}
