---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: {{install.argocd.namespace}}  
type: Opaque
data:
  # $ARGO_PWD=password
  # htpasswd -nbBC 10 "" $ARGO_PWD | tr -d ':\n' | sed 's/$2y/$2a/'
  admin.password: {{install.argocd.dashboard.initial_password|b64encode}}
  admin.passwordMtime: ""
  server.secretkey: ""