---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: longhorn-config
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "7"  # Lower the number the sooner to deploy
spec:
  project: default

  source:
    repoURL: {{install.argocd.repository.url}}.git
    targetRevision: HEAD
    path: workloads/longhorn-config
  destination:
    server:  https://kubernetes.default.svc
    namespace: {{install.longhorn.namespace}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Validate=true
