---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: longhorn
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "5"  # Lower the number the sooner to deploy
    
spec:
  project: default
  source:
    chart: longhorn
    repoURL: https://charts.longhorn.io
    targetRevision: {{install.longhorn.install_version}}
    helm:
      # Reference: https://github.com/longhorn/charts/blob/master/charts/longhorn/values.yaml
      values: |
        defaultSettings:
          backupTarget: {{longhorn_backup_target|default('~')}}
          defaultDataPath: {{install.longhorn.zfs.zvol.mountpoint}}
          defaultDataLocality: best-effort
          replicaAutoBalance: best-effort
          nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod

  destination:
    server: https://kubernetes.default.svc
    namespace: {{install.longhorn.namespace}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Validate=true
