{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:base",
    ":semanticCommits",
    ":dependencyDashboard",
    "github>{{argocd_repo_url|default('UNDEFINED_REPO_URL') | urlsplit('path') | regex_replace('^\\/|\\/$, ''') }}//.github/renovate/labels.json5",
    "github>{{argocd_repo_url|default('UNDEFINED_REPO_URL') | urlsplit('path') | regex_replace('^\\/|\\/$, ''') }}//.github/renovate/semanticCommits.json5"
  ],
  "argocd": {
    "fileMatch": [
      "applications/.+\\.yaml$",
      "workloads/.+\\.yaml$"
      ]
  },
  "regexManagers": [
    {
      "description": "Update Democratic-csi docker image references",
      "fileMatch": ["^applications\\/democratic_csi_.*\\.yaml$"],
      "matchStrings": ["image: (?<depName>.*?):(?<currentValue>.*?)\\s+"],
      "datasourceTemplate": "docker"
    },
    {
      "description": "Process various dependencies",
      "fileMatch": [
        "applications/.+\\.ya?ml$",
        "workloads/.+\\.ya?ml$"
      ],
      "matchStrings": [
        "datasource=(?<datasource>\\S+) depName=(?<depName>\\S+)( versioning=(?<versioning>\\S+))?\n.*?\"(?<currentValue>.*)\"\n"
      ],
      {% raw -%}"datasourceTemplate": "{{#if datasource}}{{{datasource}}}{{else}}github-releases{{/if}}",
      "versioningTemplate": "{{#if versioning}}{{{versioning}}}{{else}}semver{{/if}}"
      {% endraw %}
    },
    {
      "description": "Process raw GitHub URLs",
      "fileMatch": [
        "applications/.+\\.ya?ml$",
        "workloads/.+\\.ya?ml$"
      ],
      "matchStrings": [
        "https:\\/\\/raw.githubusercontent.com\\/(?<depName>[\\w\\d\\-_]+\\/[\\w\\d\\-_]+)\\/(?<currentValue>[\\w\\d\\.\\-_]+)\\/.*"
      ],
      "datasourceTemplate": "github-releases",
      "versioningTemplate": "semver"
    }
  ],
    "packageRules": [
    {
      "description": "Disables the creation of branches/PRs for any minor/patch updates etc. of Renovate bot",
      "matchPackageNames": ["renovate"],
      "matchUpdateTypes": ["minor", "patch", "pin", "digest", "rollback"],
      "enabled": false
    },
    {
      "description": "Causes the bot to create a PR (and thus, an email notification), whenever there is a new major Renovate version",
      "matchPackageNames": ["renovate"],
      "matchUpdateTypes": ["major"],
      "automerge": false,
      "prCreation": "immediate"
    }
  ]
}