---
image:
  name: traefik
  tag: "{{install.traefik.install_version}}"

deployment:
  kind: DaemonSet
  labels:
    release: kube-stack-prometheus

dashboard:
  enabled: true

rbac:
  enabled: true

nodeSelector: {"node-role.kubernetes.io/master": "true"}

tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"

priorityClassName: "system-cluster-critical"

additionalArguments:
  - "--api.dashboard=true"
  - "--serversTransport.insecureSkipVerify=true"
  - "--providers.kubernetesingress.ingressendpoint.publishedservice={{install.traefik.namespace}}/traefik"
#  - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
#  - "--entryPoints.web.http.redirections.entryPoint.scheme=https"

log:
  level: "INFO"

providers:
  kubernetesIngress:
    ingressClass: "traefik-internal"
    publishedService:
      enabled: true

ports:
  traefik:
    port: 9000
    expose: false
    exposedPort: 9000
    protocol: TCP 
  web:
    port: 8000
    expose: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    expose: true
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true
  metrics:
    port: 9100
    expose: false
    exposedPort: 9100
    protocol: TCP

service:
  enabled: true
  type: LoadBalancer
  labels:
    release: kube-stack-prometheus
{% if traefik_lb_ip is defined %}
  spec:
    loadBalancerIP: "{{traefik_lb_ip}}"
{% endif %}

resources:
   requests:
     cpu: "100m"
     memory: "50Mi"
   limits:
     cpu: "300m"
     memory: "150Mi"

# We will define our own Ingress Route
ingressRoute:
  dashboard:
    enabled: false
