---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-cert
  namespace: {{install.traefik.namespace}}
spec:
  # Secret names are always required.
  secretName: wildcard-secret
  # At least one of a DNS Name, URI, or IP address is required.
  dnsNames: {{install.cert_manager.domains}}
  issuerRef:
    kind: ClusterIssuer
    name: {% if install.cert_manager.le_staging|default(true)|bool == true %}letsencrypt-staging{% else %}letsencrypt-prod{% endif %}{{''}}
