---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ./base/application/

images:
  - name: ghcr.io/kube-vip/kube-vip-cloud-provider 
    newTag: v0.0.2