---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: traefik
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "1"  # Lower the number the sooner to deploy
spec:
  project: {{install.traefik.argocd_project|default("default")}}
  revisionHistoryLimit: {{install.argocd.revision_History_Limit|default(3)}}

  source:
    chart: traefik
    repoURL: https://helm.traefik.io/traefik
    targetRevision: {{install.traefik.install_version}}
    helm:
      values: |
        deployment:
          kind: DaemonSet

        # We will define our own Ingress Route
        ingressRoute:
          dashboard:
            enabled: false

        globalArguments:
          - "--global.sendanonymoususage=false"
          - "--global.checknewversion=false"

        additionalArguments:
          - "--api.dashboard=true"
          - "--log.level=INFO"
          - "--serversTransport.insecureSkipVerify=true"
          - "--providers.kubernetesingress.ingressendpoint.publishedservice={{install.traefik.namespace}}/traefik"

        ports:
          traefik:
            port: 9000
            expose: false
            exposedPort: 9000
            protocol: TCP 
          web:
            port: 8000
            expose: true
            exposedPort: 80
            protocol: TCP
            redirectTo: websecure
          websecure:
            port: 8443
            expose: true
            exposedPort: 443
            protocol: TCP
            tls:
              enabled: true
          metrics:
            port: 9100
            expose: false
            exposedPort: 9100
            protocol: TCP

        service:
          enabled: true
          type: LoadBalancer
{% if traefik_lb_ip is defined %}
          spec:
            loadBalancerIP: "{{traefik_lb_ip}}"
{% endif %}
        resources:
          requests:
            cpu: "100m"
            memory: "50Mi"
          limits:
            cpu: "300m"
            memory: "150Mi"
        nodeSelector: {"node-role.kubernetes.io/master": "true"}

  destination:
    server: https://kubernetes.default.svc
    namespace: {{install.traefik.namespace}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Validate=true