---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: sealed-secrets
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-2"  # Lower the number the sooner to deploy
    
spec:
  project: {{install.sealed_secrets.argocd_project|default("default")}}
  revisionHistoryLimit: {{install.argocd.revision_History_Limit|default(3)}}

  source:
    chart: sealed-secrets
    repoURL: https://bitnami-labs.github.io/sealed-secrets
    targetRevision: {{install.sealed_secrets.install_version}}
    helm:
      # Reference: https://github.com/bitnami-labs/sealed-secrets/tree/helm-v2.3.0/helm/sealed-secrets
      values: |
{% if install.sealed_secrets.use_pre_generated_private_key|default(false)|bool == true%}
        secretName: {{sealed_secrets.use_pre_generated_private_key_name}}
{% endif %}
        namespace: {{install.sealed_secrets.namespace}}
        keyrenewperiod: "720h30m"     # Specifiy in hours and minutes, not days.
        resources:
          requests:
            cpu: "25m"
            memory: "12Mi"
          limits:
            cpu: "50m"
            memory: "32Mi"
        metrics:
          ## Prometheus Operator ServiceMonitor configuration
          serviceMonitor:
            enabled: false
            namespace: {{install.prometheus_operator.namespace}}
            labels:
              release: {{prometheus_op.release_name}}
          ## Grafana dashboards configuration
          dashboards:
            create: false
            labels:
              {{install.prometheus_operator.grafana.sidecar.label}}: "true"
            namespace: {{install.prometheus_operator.namespace}}

  destination:
    server: https://kubernetes.default.svc
    namespace: {{install.sealed_secrets.namespace}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Validate=true
