---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: alertmanager-stripprefix
spec:
  stripPrefix:
    prefixes:
      - {{install.prometheus_operator.alertmanager.dashboard.path|default("/alertmanager")}}
    forceSlash: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: alertmanager-ingress-route
spec:
  entryPoints:
    - {% if install.traefik.dashboard.enable_https|default(false)|bool == false %}web{% else %}websecure{% endif %}{{''}}
  routes:
    - match: Host(`{{install.prometheus_operator.alertmanager.dashboard.ingress_name|default("k3s.{{ansible_domain}}")|lower}}`) && (PathPrefix(`{{install.prometheus_operator.alertmanager.dashboard.path|default("/alertmanager")}}`))
      kind: Rule
      services:
        - kind: Service
          name: prometheus-alertmanager
          port: 9093
      middlewares:
        - name: alertmanager-stripprefix
        - name: compress
          namespace: {{install.traefik.namespace}}
        - name: x-forward-https-headers
          namespace: {{install.traefik.namespace}}
{% if install.prometheus_operator.alertmanager.dashboard.enable_basic_auth|default(false)|bool == true%}
        - name: traefik-basic-auth
          namespace: {{install.traefik.namespace}}
{% endif %}
