---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: grafana-stripprefix
spec:
  stripPrefix:
    prefixes:
      - {{install.prometheus_operator.grafana.dashboard.path|default("/grafana")}}
    forceSlash: true
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{install.prometheus_operator.namespace}}
  name: grafana-ingress-route
spec:
  entryPoints:
    - {% if install.traefik.dashboard.enable_https|default(false)|bool == false %}web{% else %}websecure{% endif %}{{''}}
  routes:
    - match: Host(`{{install.prometheus_operator.grafana.dashboard.ingress_name|default(ansible_fqdn)|lower}}`) && (PathPrefix(`{{install.prometheus_operator.grafana.dashboard.path|default("/grafana")}}`))
      kind: Rule
      services:
        - kind: Service
          name: grafana
          port: 80
      middlewares:
        - name: grafana-stripprefix
        - name: compress
          namespace: {{install.traefik.namespace}}
        - name: x-forward-https-headers
          namespace: {{install.traefik.namespace}}
{% if install.prometheus_operator.grafana.dashboard.enable_basic_auth|default(false)|bool == true%}
        - name: traefik-basic-auth
          namespace: {{install.traefik.namespace}}
{% endif %}
