---
###[ ArgoCD Secrets: Repository Connections ]######################################################
# Example: https://github.com/<username>/k3s-argocd
ARGOCD_REPO_URL_SECRET: "https://github.com/CHANGE_ME/k3s-argocd"

# Github can use any non-empty value, its essentially ignored
ARGOCD_REPO_USERNAME_SECRET: "oauth"

# Github Personal Access Token
ARGOCD_REPO_PASSWORD_SECRET: "xyz123"

###[ Let's Encrypt: CloudFlare DNS Authentication ]################################################
# API Token for ACME DNS Challenge - Cloudflare API token used by Cert-manager
# Requires permission: Zone / Zone / Read
# Requires permission: Zone / DNS / Edit Permissions
DNS_API_TOKEN_SECRET: "xyz123"

# Email address associated to DNS API key
AUTH_EMAIL_SECRET: "you@example.com"

# Email address associated to Let's Encrypt
LE_AUTH_EMAIL_SECRET: "you@example.com"

# List of Domains to Create Certificates
LE_DOMAINS_SECRET:
  - "example.com"
  - "*.example.com"

###[ Traefik Dashboard Users ]#####################################################################
# Define encoded Traefik users allowed to use the Traefik Dashboard (if enabled)
# Multiple users can be listed below, one per line (indented by 2 spaces)
#
# Default name: "traefikadm" and password "change!me"
#
# Created with "htpasswd" utility and then base64 encode that output such as:
# $ htpasswd -nb [user] [password] | base64
TRAEFIK_DASHBOARD_USERS_SECRET: |
  dHJhZWZpa2FkbTokMnkkMTAkbHl3NWdYcXpvbFJCOUY4M0RHa2dMZW52YWJTcmpxUk9XbXNGUmZKa2ZQSlhBbzNDSmJHY08K

###[ Longhorn Dashboard Users ]####################################################################
# See Traefik Dashboard Users above for details on how to create dashboard users.

#LONGHORN_DASHBOARD_USERS_SECRET: |
#  dHJhZWZpa2FkbTokMnkkMTAkbHl3NWdYcXpvbFJCOUY4M0RHa2dMZW52YWJTcmpxUk9XbXNGUmZKa2ZQSlhBbzNDSmJHY08K

# NOTE: Kubernetes secrets do not span namespaces. This will be an isolated user list from Traefik
LONGHORN_DASHBOARD_USERS_SECRET: "{{TRAEFIK_DASHBOARD_USERS_SECRET}}"   # Same as Traefik Accounts