---
###[ ArgoCD Secrets: Repository Connections ]######################################################
# Github can use any non-empty value, its essentially ignored
ARGOCD_REPO_USERNAME_SECRET: "oauth"

# Github Personal Access Token
ARGOCD_REPO_PASSWORD_SECRET: "xyz123"

###[ Let's Encrypt: CloudFlare DNS Authentication ]################################################
# API Token for ACME DNS Challenge - Cloudflare API token used by Cert-manager
# Requires permission: Zone / Zone / Read
# Requires permission: Zone / DNS / Edit Permissions
DNS_API_TOKEN_SECRET: "xyz123"

# Email address associated to DNS API key
AUTH_EMAIL_SECRET: "you@example.com"

# Email address associated to Let's Encrypt
LE_AUTH_EMAIL_SECRET: "you@example.com"

# List of Domains to Create Certificates
LE_DOMAINS_SECRET:
  - "example.com"
  - "*.example.com"

###[ Traefik Dashboard Users ]#####################################################################
# Define encoded Traefik users allowed to use the Traefik Dashboard (if enabled)
# Multiple users can be listed below, one per line (indented by 2 spaces)
#
# Default name: "traefikadm" and password "change!me"
#
# Created with "htpasswd" utility and then base64 encode that output such as:
# $ htpasswd -nb [user] [password] | base64
TRAEFIK_DASHBOARD_USERS_SECRET: |
  dHJhZWZpa2FkbTokMnkkMTAkbHl3NWdYcXpvbFJCOUY4M0RHa2dMZW52YWJTcmpxUk9XbXNGUmZKa2ZQSlhBbzNDSmJHY08K

###[ Longhorn Dashboard Users ]####################################################################
# See Traefik Dashboard Users above for details on how to create dashboard users.

#LONGHORN_DASHBOARD_USERS_SECRET: |
#  dHJhZWZpa2FkbTokMnkkMTAkbHl3NWdYcXpvbFJCOUY4M0RHa2dMZW52YWJTcmpxUk9XbXNGUmZKa2ZQSlhBbzNDSmJHY08K

# NOTE: Kubernetes secrets do not span namespaces. This will be an isolated user list from Traefik
LONGHORN_DASHBOARD_USERS_SECRET: "{{TRAEFIK_DASHBOARD_USERS_SECRET}}"   # Same as Traefik Accounts

###[ Democratic-CSI iSCSI & NFS Settings ]#########################################################
# Define API Access to TrueNAS, API KEY requires TrueNAS 12 or higher
#
# Set the FQDN of the TrueNAS hostname to connect to, by default the SSH and ISCSI hostnames
# will also use this value, but you can change them below.
TN_HTTP_HOST: truenas.example.com

# Set the value of the API Key from TrueNAS.  
# From TrueNAS Admin Console, click Gear Icon (top right) and Select "API Keys", click [Add].
# Place the generated API Key value here:
TN_HTTP_API_KEY: 2-eb...tI5

# Set the value of the SSH TrueNAS hostname to connect to:
TN_SSH_HOST: "{{TN_HTTP_HOST}}"

# Set the value of the username for the SSH connection
TN_SSH_USER: k8s

# Set the value of the username's password for the SSh connection
# Do not use this, use a certificate instead (see below)
#TN_SSH_PASSWD: null

# Set the value of the PRIVATE KEY for SSH Connection
# IMPORTANT: MUST HAVE 2 SPACES before each line of certificate
TN_SSH_PRIV_KEY: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  put private key here
  -----END OPENSSH PRIVATE KEY-----

# Set the value of the iSCSI TrueNAS hostname to connect to:
TN_ISCSI_HOST: "{{TN_HTTP_HOST}}"

# Set the value of the NFS TrueNAS hostname to connect to:
TN_NFS_HOST: "{{TN_HTTP_HOST}}"

###[ Prometheus Dashboard Users ]##################################################################
# Define encoded Prometheus Operator users allowed to use the Prometheus Web Interface (if enabled)
# Multiple users can be listed below, one per line (indented by 2 spaces)
# Created with "htpasswd" utility and then base64 encode that output such as:
# $ htpasswd -nb [user] [password] | base64

# Example of unique users from other dashboards:
# PROMETHEUS_DASHBOARD_USERS: |
#  dHJhZWZpa2FkbTokMnkkMTAkbHl3NWdYcXpvbFJCOUY4M0RHa2dMZW52YWJTcmpxUk9XbXNGUmZKa2ZQSlhBbzNDSmJHY08K

# Use same users currently defined by Traefik dashboard:
# NOTE: They do not share a common K8s secret. This will place the same information in two different
#       secrets.
PROMETHEUS_DASHBOARD_USERS: "{{TRAEFIK_DASHBOARD_USERS}}"

# Define encoded AlertManager users allowed to use the Longhorn Dashboard (if enabled)
# Multiple users can be listed below, one per line (indented by 2 spaces)
# Created with "htpasswd" utility and then base64 encode that output such as:
# $ htpasswd -nb [user] [password] | base64

# Example of unique users from other dashboards:
#ALERTMANAGER_DASHBOARD_USERS: |
#  dHJhZWZpa2FkbTokMnkkMTAkbHl3NWdYcXpvbFJCOUY4M0RHa2dMZW52YWJTcmpxUk9XbXNGUmZKa2ZQSlhBbzNDSmJHY08K

# Use same users currently defined by Traefik dashboard:
# NOTE: They do not share a common K8s secret. This will place the same information in two different
#       secrets.
ALERTMANAGER_DASHBOARD_USERS: "{{TRAEFIK_DASHBOARD_USERS}}"

# Slack Webhook API URL
vault_slack_config_api_url: 'https://hooks.slack.com/services/<webhook>'
