---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{install.argocd.namespace}}
  name: democratic-csi-iscsi
  # cascade deletes
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "12"  # Lower the number the sooner to deploy
    
spec:
  project: default
  source:
    chart: democratic-csi
    repoURL: https://democratic-csi.github.io/charts/
    targetRevision: {{install.democratic_csi.install_version}}
    helm:
      # Reference: https://github.com/democratic-csi/charts/blob/master/stable/democratic-csi/values.yaml
      values: |
        csiDriver:
          # should be globally unique for a given cluster
          name: "org.democratic-csi.iscsi"

        controller:
          driver:
            image: docker.io/democraticcsi/democratic-csi:v1.6.3
            #########################################################################################
            # The following will pull from the developer's "next" branch, for testing new features.
            # image: democraticcsi/democratic-csi:next
            # imagePullPolicy: Always
            # logLevel: debug

        node:
          driver:
            image: docker.io/democraticcsi/democratic-csi:v1.6.3
            #########################################################################################
            # The following will pull from the developer's "next" branch, for testing new features.
            # image: democraticcsi/democratic-csi:next
            # imagePullPolicy: Always
            # logLevel: debug
            #########################################################################################
            # To confirm if the "next" image is being used by the containers:
            # kubectl get pods -n democratic-csi -o jsonpath="{.items[*].spec.containers[*].image}" | tr -s '[[:space:]]' '\n' | grep next | uniq
            #########################################################################################

        storageClasses:
        - name: freenas-iscsi-csi
          defaultClass: {{install.democratic_csi.iscsi.storage_class.default_class}}
          reclaimPolicy: {{install.democratic_csi.iscsi.storage_class.reclaim_policy}}
          volumeBindingMode: Immediate
          allowVolumeExpansion: {{install.democratic_csi.iscsi.storage_class.volume_expansion}}
          parameters:
            fsType: {{install.democratic_csi.iscsi.extent.fs_type}}
          mountOptions: []
          secrets:
            provisioner-secret:
            controller-publish-secret:
            node-stage-secret:
            node-publish-secret:
            controller-expand-secret:

        volumeSnapshotClasses: []

        driver:
          existingConfigSecret: democratic-csi-iscsi-driver-config
          config:
            driver: freenas-iscsi

  destination:
    server: https://kubernetes.default.svc
    namespace:  {{install.democratic_csi.namespace}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - Validate=true
