[Unit]
Description=Prometheus zfs-exporter

[Service]
Restart=always
ExecStart={{prometheus_op.zfs_exporter.bin}} --web.listen-address=":{{prometheus_op.zfs_exporter.port}}" --exclude='^rpool/containerd/'

[Install]
WantedBy=default.target
