---
# Traefik 2.x ingress controller does not set the WebSocket headers
# https://longhorn.io/kb/troubleshooting-traefik-2.x-as-ingress-controller/

apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: svc-longhorn-headers
  namespace: {{install.longhorn.namespace}}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"

---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  namespace: {{install.longhorn.namespace}}
  name: longhorn-stripprefix
spec:
  stripPrefix:
    prefixes:
      - {{install.longhorn.dashboard.path|default("/longhorn")}}
    forceSlash: true

{% if install.longhorn.dashboard.enable_basic_auth|default(false)|bool == true%}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: dashboard-basic-auth
  namespace: {{install.longhorn.namespace}}
spec:
  basicAuth:
    secret: longhorn-authsecret

---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-authsecret
  namespace: {{install.longhorn.namespace}}
data:
  users: |
{% if install.longhorn.dashboard.allowed_users is defined %}{% filter indent(width=4) %}
    {{install.longhorn.dashboard.allowed_users}}{% endfilter %}
{% else %}
  MUST_ENCODED_USERS_HERE or to "vars/secrets/longhorn_dashboard_secrets.yml" on Ansible Controller
{% endif %}{{''}}
{% endif %}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{install.longhorn.namespace}}
  name: longhorn-ingress-route
spec:
  entryPoints:
    - {% if install.traefik.dashboard.enable_https|default(false)|bool == false %}web{% else %}websecure{% endif %}{{''}}
  routes:
    - match: Host(`{{install.longhorn.dashboard.ingress_name|default(ansible_fqdn)|lower}}`) && (PathPrefix(`{{install.longhorn.dashboard.path|default("/longhorn")}}`))
      kind: Rule
      services:
      - kind: Service
        name: longhorn-frontend
        port: 80
      middlewares:
      - name: longhorn-stripprefix
      - name: svc-longhorn-headers
{% if install.longhorn.dashboard.enable_basic_auth|default(false)|bool == true%}
      - name: dashboard-basic-auth
{% endif %}
