---
# Renovate GitHub Access

apiVersion: v1
kind: Secret
metadata:
  name: renovate-secrets
  namespace: {{install.renovate.namespace}}
type: Opaque
data:
  GITHUB_COM_TOKEN: {{install.argocd.repository.password|b64encode}}
  RENOVATE_TOKEN: {{install.argocd.repository.password|b64encode}}