---
apiVersion: v1
kind: Secret
metadata:
  name: {{prometheus_op.release_name}}-grafana
  namespace: {{install.prometheus_operator.namespace}}
type: Opaque
data:
  admin-password: {{GRAFANA_DASHBOARD_ADMIN_PASSWORD | b64encode}}
  admin-user: {{GRAFANA_DASHBOARD_ADMIN_USER | b64encode}}
  ldap-toml: ""
