---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{sealed_secrets.use_pre_generated_private_key_name}}
  namespace: {{install.sealed_secrets.namespace}}
  labels:
    {{sealed_secrets.use_pre_generated_private_key_label}}
stringData:
  tls.crt: |
    {% filter indent(width=4) %}{{SEALED_SECRETS_PRIVATE_CERT_SECRET}}{% endfilter %}
  tls.key: |
    {% filter indent(width=4) %}{{SEALED_SECRETS_PRIVATE_KEY_SECRET}}{% endfilter %}
