---
# Create PVC for longhorn

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: longhorn-volv-pvc
spec:
  accessModes:
    - {{install.longhorn.test_claim.mode}}
  storageClassName: longhorn
  resources:
    requests:
      storage: {{install.longhorn.test_claim.size}}