---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-cert
  namespace: {{install.traefik.namespace}}
  annotations:
    argocd.argoproj.io/sync-wave: "1"  # Lower the number the sooner to deploy 
spec:
  # Secret names are always required.
  secretName: wildcard-cert
  # At least one of a DNS Name, URI, or IP address is required.
  dnsNames: {{install.lets_encrypt.domains}}
  issuerRef:
    kind: ClusterIssuer
    name: {% if install.lets_encrypt.le_staging|default(true)|bool == true %}letsencrypt-staging{% else %}letsencrypt-prod{% endif %}{{''}}
