# Configuration Values Prometheus Additional Scrapes
# Reference: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/additional-scrape-config.md
---
apiVersion: v1
kind: Secret
metadata:
  name: additional-scrape-configs
  namespace: {{install.prometheus_operator.namespace}}
stringData:
  prometheus-additional-scrape-configs.yaml: |
    # Additional Scrape Jobs can be placed here if needed.