
# Configuration Values for Helm for Alert Configurations
# Reference: https://prometheus.io/docs/alerting/latest/configuration/
---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-{{prometheus_op.release_name}}-alertmanager-config
  namespace: {{install.prometheus_operator.namespace}}
stringData:
  alertmanager.yaml: |
    {% filter indent(width=4) %}{{install.prometheus_operator.alertmanager.config_values}}{% endfilter %}
