{% if install.prometheus_operator.grafana.dashboard.enable_basic_auth|default(false)|bool == true%}
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-authsecret
  namespace: {{install.prometheus_operator.namespace}}
data:
  users: |
{% if install.prometheus_operator.grafana.dashboard.allowed_users is defined %}{% filter indent(width=4) %}
    {{install.prometheus_operator.grafana.dashboard.allowed_users}}{% endfilter %}
{% else %}
  MUST_ENCODED_USERS_HERE or to "vars/secrets/main.yml" on Ansible Controller
{% endif %}{{''}}
{% endif -%}